.Text{
    
    color: #121212;
    font-family: Archivo Narrow;
    font-size: 28px;
    font-style: normal;
    line-height: 10px;
    text-align: center;
    display: flex;
    align-items: center; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px; 
}

.contato{

    width: 100%; 
    height: 100%;
    margin-top: 60px;   
    margin-bottom: 80px; 
}


.contato .textoh1{

    color: #121212; 
    font-size: 25px; 
    font-family: Archivo Narrow; 
    font-weight: 500; 
    word-wrap: break-word;
    margin-right: 40px;  
    margin-left: 40px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
  }


.message{
    font-family: Archivo Narrow;
    font-size: 25px;
    font-style: normal;
    line-height: 10px;
    text-align: center;
    display: flex;
    align-items: center; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%; 

}

.message form .box{
    width: 100%;
    padding:1rem 0;
    margin:.6rem 0;
    font-size: 2rem;
    color: #666;
    text-transform: none;
    border-radius: 0.2rem solid #222;
}
.message form .box:focus{
    border-color:#ec4848;
}
.message form textarea{
    height:15rem;
    resize:none
}

/* Estilos do botão */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 5%;
    margin-top: 5%;
}

.btn:hover {
    border-radius: 18px;
    border: #000000;
    color: #000000;
    background-color: #ffffff;
}

/* Alinha o botão ao centro e altera cor ao clicar */
.message form {
    text-align: center;
}

.btn.active {
    background-color: #fff;
    color: #000;
}
