@media (max-width: 950px){
    .slider {
        height: 232px !important;
    }
    
    .slides {
        height: 232px !important;
    
    }

    .slide img {
        height: 232px !important;
    }

    .conteudo{
        height: 4032px !important;
    }

    .bg p{

        font-size: 15px !important;

    }

    .ajuste{
        margin-left: 0 !important;
        align-self: center !important;
    }

    .ajuste h2{
        margin-left: 20px !important;
        font-size: 28px !important;
    }

    .atencao{
        height: 900px !important;
    }

    .categorias{
        height: 1672px !important;
    }

    .itensCategorias a{
        font-size: 10px !important;
    }  
    
    .itensCategorias div{
        height: 170px !important;
        width: 170px !important;
    }
    .itensCategorias div img{
        height: 150px !important;
        width: 150px !important;
    }
    .itensCategorias div img:hover{
        
        height: 160px !important;
        width: 160px !important;
    }
    


    .itensCategorias div svg{
        
        width: 150px !important;
        height: 150px !important;
        
    }
    .itensCategorias div svg:hover{
        
        width: 160px !important;
        height: 160px !important;
        
    }
}

.slider {
    width: 100%;
    height: 632px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 632px;
    display: flex;

}

.slide {
    transition: 2s;
}

.slides input {
    display: none;
}

.slide img {
    width: 100%;
    height: 632px;
}


.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: black;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}


.conteudo{
    display: flex;
    flex-flow: column;
    height: 3532px;
}

.bg{
    background: url(/ASSETS/background.jpg);
}

.quem{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 528px;
    background-color: #BAFF00;
}

.ajuste h2{
    margin-left: 40px;
    font-weight: 700;
    font-size: 48px;
}

.ajuste {
    margin-left: 336px;
    display: flex;
    align-items: center;
}

.quem p{
    margin-top: 40px;
    align-self: center;
    font-weight: 500;
    font-size: 32px;
}

.mundo p{
    margin-top: 40px;
    align-self: center;
    font-weight: 500;
    font-size: 24px;
    color: white;
}



.mundo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 650px;
}

.atencao{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: white;
    height: 650px;
}

.atencao ul{
    margin-top: 40px;
    align-self: center;
    font-size: 32px;
    font-weight: 500;
}

.categorias{
    flex-flow: column;
    height: 1072px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias h2{

    color: white;
    font-weight: 700;
    font-size: 48px;

}

.categorias ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itensCategorias{
    margin-top: 50px;
    text-align: center;
}

.itensCategorias a{
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    color: #BAFF00;

}
.itensCategorias a:hover{
    text-decoration: underline;
    transition: 0.2s;
}



.itensCategorias div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 270px;
    margin-bottom: 15px;
}
.itensCategorias div img{
    height: 250px;
    width: 250px;
}
.itensCategorias div img:hover{
    cursor: pointer;
    transition: 0.2s;
    height: 260px;
    width: 260px;
}

.itensCategorias div svg:hover{
    cursor: pointer;
    width: 260px;
    height: 260px;
    transition: 0.2s;
}