.ai{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.ai .SVG{

    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 70px;
    max-height: 70px;
    margin: 20px;
}

.ai .Text{

    color: #121212;
    font-family: Archivo Narrow;
    font-size: 28px;
    font-style: normal;
    line-height: 10px;
    text-align: center;
    display: flex;
    align-items: center; 
 
}

.h1{
    width: 100%; 
    height: 100%;
}