.ai{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


.ai .SVG{

    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 70px;
    max-height: 70px;
    margin: 20px;
    
}

.ai .Text{

    color: #121212;
    font-family: Archivo Narrow;
    font-size: 28px;
    font-style: normal;
    line-height: 10px;
    text-align: center;
    display: flex;
    align-items: center; 
    margin-bottom: -15px; 
}


.cart-page {
    margin: 100px auto;
}

table {
    width: 100%;
    border-collapse: separate;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: center;
    padding: 10px;
    color: #fff;
    background: #80409A;
}

td {
    padding: 15px 6px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #80409A;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;

}

.total-price table {
    border-top: 8px solid #BAFF00;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: center;

}

th:last-child {
    text-align: center;

}



